<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="workspace.component.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Plan your day</title>
  </head>
  <body>
    <header class="wrapper">
      <div class="mainNav">
        <div class="staticNav">
          <h1><span class="logoLetter">Plan</span>Your Day</h1>
        </div>
        <ul id="myList">
          <li id="generate" (click)="onGenerate()">Add Note</li>
          <li style = "cursor: pointer" routerLink="/workspace/:id/today" routerLinkActive="active">To-Do Today</li>
          <li (click)="onDeleteOld()">Delete Old</li>
          <li class="dropdown">
            <span>To-Do by Significance</span>
            <div class="dropdown-content">
              <a class="dropItem">Ordinary</a>
              <a class="dropItem">Important</a>
              <a class="dropItem">Urgent</a>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <p>Hello,
                <span>{{user?.username}}</span>
              </p>
              <div class="dropdown-content">
                <a class="dropItem" routerLink="/admin/panel/view" routerLinkActive="active">Admin control Panel</a>
                <a class="dropItem">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <section id="mainGrid">
          <div *ngFor="let todo of todos">
            <form>
              <div class="noteColorHeader">
                <div class="upperNoteHeader">
                  <select name="Importance">
                    <option value="Ordinary" ngValue="1" [selected]="todo.significanceId == 1">Ordinary</option>
                    <option value="Important" ngValue="2" [selected]="todo.significanceId == 2">Important</option>
                    <option value="Urgent" ngValue="3" [selected]="todo.significanceId == 3">Urgent</option>
                  </select>
                  <p class="close" (click)="onDelete(todo.ownerId,todo.id)">x</p>
                </div>
                <div class="deadlineForm">
                  <label class="deadlineLabel">Deadline: </label>
                  <textarea name="deadline" rows="1" cols="20" placeholder="YYYY-MM-dd-HH:mm">{{todo.deadline}}</textarea>
                </div>
              </div>
              <div class="noteColorBody">
                <textarea name="todoitem" rows="10" cols="30" placeholder="Enter your text here ...">{{todo.toDoText}}</textarea>
                <div class = "noteButtons">
                  <button class = "noteButton" type="submit" (click) = "onSubmitSave()">save</button>
                  <button class = "noteButton" type="submit" (click) = "onSubmitUpdate()">update</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
